:root{
    // colors
    --main-color: #2962ff;
    --tranparent-blue:#2962FF1A;
    --grey:#9e9e9e;
    --light-gray: #e0e0e0;
    --orange: #F7542E;
    //Typography
    --Poppins: 'Poppins', sans-serif;
}